.dice_wrapper{
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 0px 24px;
}

.btn {
    all: unset;
    margin: 20px  0px;
    width: 92.16px;
    height: 35.84px;
    border-radius: 3.81px;
    font-family: 'Inter', sans-serif;
    background-color: blue;
    color: white;
    font-weight: 400;
    cursor: pointer;
  }